.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-index-header);
  padding: 1rem 0;
  color: var(--white);


  @media (min-width: 992px) {
    position: static;
    background-color: var(--black);
  }
}