.hero {
  position: relative;
  background-color: var(--black);

  &:after {
    content: '';
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: 52px;
    height: 52px;
    background: url('/dec.svg') center / cover no-repeat;
  }

  &__inner {
    min-height: 680px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    @media (min-width: 992px) {
      position: relative;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 3rem;
    }
  }

  &__content {
    z-index: 2;

    @media (min-width: 992px) {
      max-width: calc(100% - 440px - 20px);
    }

    @media (min-width: 1200px) {
      max-width: calc(100% - 640px - 40px);
    }
  }

  &__text {
    max-width: 540px;
    margin-bottom: 2rem;
    font-size: 1.125rem;
    color: var(--white);

    @media (min-width: 992px) {
      font-size: 1.5rem;
      color: var(--gray);
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex: 0 0 auto;
    filter: grayscale(100%);

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .5);
    }

    @media (min-width: 992px) {
      top: 50%;
      left: auto;
      right: 0;
      transform: translateY(-50%);
      width: 440px;
      height: 600px;
      border-radius: var(--border-radius);
      overflow: hidden;

      &:before {
        display: none;
      }
    }

    @media (min-width: 1200px) {
      top: 0;
      transform: none;
      width: 640px;
      height: 800px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}
