.social {
  display: flex;
  align-items: center;
  gap: 1rem;

  &__link {
    color: var(--white);
    line-height: 1;
    transition: color var(--transition);

    &:hover {
      color: var(--accent);
    }

    &:focus {
      outline: 2px solid var(--accent);
    }

    &:focus:not(&:focus-visible) {
      outline: none;
    }

    &:focus-visible {
      outline: 2px solid var(--accent);
    }

    &:active {
      color: var(--accent-dark);
    }

    svg {
      width: 24px;
      height: 24px;

      @media (min-width: 992px) {
        width: 32px;
        height: 32px;
      }
    }
  }
}