.stock {
  padding: 60px 0;

  @media (min-width: 992px) {
    padding: 120px 0;
  }

  @media (min-width: 1200px) {
    padding-top: 180px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;

    .title {
      margin-bottom: 0;
    }

    @media (min-width: 992px) {
      margin-bottom: 2.5rem;
    }
  }
}