.title {
  margin-bottom: 1.25rem;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.25;

  &--light {
    color: var(--white);
  }

  span {
    color: var(--accent);
  }

  @media (min-width: 992px) {
    margin-bottom: 2.5rem;
    font-size: 4rem;
  }
}